*  {
    background-color:  rgb(34, 35, 38);
    font-family: Open Sans, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0 60px;
}

h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

a {
    text-decoration: none; 
}

div, nav {
    display: flex;
}

.welcome {
    flex-grow: 0;
    flex-basis: auto;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}

#ucsd {
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

nav {
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
    gap: 16px;
}

.name {
    margin-right: auto;
}

.work-in-progress {
    font-size: 25px;
    color: white;
    justify-content: center;
}    

.edu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.program {
    font-style: italic;
}

.logos {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    transform: scale(1.5);
}

.logos #linkedin-logo {
    transform: scale(1.5);
}

#wip {
    display: block;
    width: 80px;
    height: auto;
    margin: auto;
    padding: 20px;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-around;
    margin-top: 5px;
    height: 350px;
    gap: 20px;
}

.project {
    display: flex;
    width: 200px;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid rgb(155, 155, 155);
    padding: 20px;
    justify-content: space-evenly;
    gap: 5px;
}

.project-description {
    font-size: 10px;
}